:root {
  --azul-safira: #0a192f;
  --azul-brilho: #1f6feb;
  --texto: #e6f1ff;
  --cinza: #112240;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--azul-safira);
  color: var(--texto);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--cinza);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #0005;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.screen.active {
  display: flex;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 80%;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: var(--azul-brilho);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #388bfd;
}

#players {
  width: 100%;
  background-color: #091a30;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
}

#options button {
  display: block;
  margin: 8px 0;
  width: 100%;
}

#rankingList {
  text-align: left;
  width: 100%;
}

#rankingList li {
  background: #091a30;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}
